// Import groups
{{#groups}}
import * as {{group}} from './{{group}}';
{{/groups}}

// Export sub-modules
export { {{#groups}}{{group}}, {{/groups}} };

// Import and export sub-modules for all Kubernetes types.
import * as types from './types';
export { types };